[submodule "Libraries/Smart-D-LED-LIB_WiFi101"]
	path = Libraries/Smart-D-LED-LIB_WiFi101
	url = https://github.com/DylanMeng/Smart-D-LED-LIB_WiFi101.git
[submodule "Libraries/Smart-D-LED-LIB_WiFi101OTA"]
	path = Libraries/Smart-D-LED-LIB_WiFi101OTA
	url = https://github.com/DylanMeng/Smart-D-LED-LIB_WiFi101OTA.git
